{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h3>Demo Controller</h3>
      <p>This is a demo admin controller rendered from a module.</p>
    </div>
  </div>
{% endblock %}
