
#awvisualmerchandising_form {
    clear: both;
}
#product_search {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#selected_products li {
    list-style: none;
    margin: 5px 0;
}
.search-product-item {
    display: flex;
    margin: 5px;
}
#search-results {
    padding: 0;
}
.pinned-products {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vshidden {
    opacity: .40;
}

.pinned-product-item:last-child {
    border-bottom: none;
}

.product-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-image img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    border-radius: 4px;
}

.product-details {
    flex: 1; /* Take up remaining space */
}

.remove-pinned-product {
    color: white;
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: auto; /* Push to the far right */
}

.remove-pinned-product:hover {
    background-color: #c82333;
}
.pitems {
    display: flex;
    gap: 10px;
    /* justify-items: start; */
    flex-direction: row;
    /* row-gap: 10px; */
    /* column-gap: 20px; */
    margin: 10px;
}

  .product-card {
    
    max-width: 250px;
    border: 1px solid #ddd;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  .product-card img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .product-card .product-details {
    font-size: 14px;
    margin-top: 5px;
  }

  .product-card .pin-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .product-card .hide-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .product-card .hide-icon:hover {
    transform: scale(1.4);
    opacity:1;
  }
  .product-card .pin-icon:hover {
    transform: scale(1.2);
  }

  .ui-state-highlight {
    width: 285px;
    height: 349px;
    border: 2px dashed #007bff;
    border-radius: 8px;
    background: rgba(0, 123, 255, 0.1);
    margin: 5px;
  }
  .product-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    transition: opacity 0.3s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.product-card:hover .overlay {
    opacity: 1;
}
.hide-button {
    background-color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.pin-button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}h5.modal-title {
    font-size: x-large;
}label {
    font-size: 14px;
}label.plabel {
    font-size: 13px;
    margin: 0;
}.product-container {
    margin-bottom: 25px;
}img.sorticon {
    width: 20px;
    float: right;
    color: grey;
    cursor: pointer;
}.awheading{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}.awblending{
    display: none;
}p.helper-text {
   padding: 8px 0;
}select#publish-status {
   padding: 5px;
}
/* .products img {
  width: 100%;
  height: auto;
} */
